{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{template "title" .}}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">

              <style>
                .my-footer {
                    height: 5em;
                    background-color: #163b65;
                    margin-top: 1.5em;
                    padding: 1em;
                    color: white;
                    font-size: 80%;
                }

                .room-image {
                  max-width: 50%;
                }

                .notie-container {
                  box-shadow: none;
                }                

                .datepicker {
                  z-index: 10000;
                }
            </style>

        {{block "css" .}}
        {{end}}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Rooms
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/rooms/generals-quarters">General's Quarters</a></li>
                      <li><a class="dropdown-item" href="/rooms/majors-suite">Major's Suite</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/reservations" tabindex="-1">Book Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact" tabindex="-1">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    {{block "content" .}}
    {{end}}
  
    {{block "footer" .}}
    {{end}}

    <footer class="my-footer">
        <div class="row">
            <div class="col">
                left
            </div>
    
            <div class="col">
                center
            </div>
    
            <div class="col">
                right
            </div>
        </div>
    </footer>

    <!-- site wide JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>

    <script src="/static/scripts/app.js"></script>


    {{block "js" .}}
    {{end}}

    <script>
      let attention = Prompt();

      (function () {
          'use strict';
          window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              let forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', function (event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();


      function notify(msg, msgType) {
          notie.alert({
              type: msgType,
              text: msg,
          })
      }

      {{with .Error}}
      notify("{{.}}", "error")
      {{end}}

      {{with .Flash}}
      notify("{{.}}", "success")
      {{end}}

      {{with .Warning}}
      notify("{{.}}", "warning")
      {{end}}

      function notifyModal(title, text, icon, confirmationButtonText) {
          Swal.fire({
              title: title,
              html: text,
              icon: icon,
              confirmButtonText: confirmationButtonText
          })
      }

      function Prompt() {
          let toast = function (c) {
              const{
                  msg = '',
                  icon = 'success',
                  position = 'top-end',

              } = c;

              const Toast = Swal.mixin({
                  toast: true,
                  title: msg,
                  position: position,
                  icon: icon,
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
              })

              Toast.fire({})
          }

          let success = function (c) {
              const {
                  msg = "",
                  title = "",
                  footer = "",
              } = c

              Swal.fire({
                  icon: 'success',
                  title: title,
                  text: msg,
                  footer: footer,
              })

          }

          let error = function (c) {
              const {
                  msg = "",
                  title = "",
                  footer = "",
              } = c

              Swal.fire({
                  icon: 'error',
                  title: title,
                  text: msg,
                  footer: footer,
              })

          }

          async function custom(c) {
              const {
                  msg = "",
                  title = "",
              } = c;

              const { value: result } = await Swal.fire({
                  title: title,
                  html: msg,
                  backdrop: false,
                  focusConfirm: false,
                  showCancelButton: true,
                  willOpen: () => {
                      const elem = document.getElementById("reservation-dates-modal");
                      const rp = new DateRangePicker(elem, {
                          format: 'yyyy-mm-dd',
                          showOnFocus: true,
                      })
                  },
                  didOpen: () => {
                      document.getElementById("start").removeAttribute("disabled");
                      document.getElementById("end").removeAttribute("disabled");
                  },
                  preConfirm: () => {
                      return [
                          document.getElementById('start').value,
                          document.getElementById('end').value
                      ]
                  }
              })

              console.log(result)

              if (result) {
                if (result.dismiss !== Swal.DismissReason.cancel) {
                  if (result.value !== "") {
                    if (c.callback !== undefined) {
                      console.log('this is called')
                      console.log('result.value', result.value)
                      c.callback(result);
                    } else {
                      c.callback(false);
                    }
                  }
                } else {
                  c.callback(false);
                }
              }
          }

          return {
              toast: toast,
              success: success,
              error: error,
              custom: custom,
          }
      }

  </script>    
    
    </body>
    </html>
{{end}}