{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>This is the home page222</h1>
                <p>This is some text</p>
            </div>
        </div>
    </div>
{{end}}
